{% extends 'main.html' %}

{% block content %}



<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
                    <th>Status</th>
					<th>材料編號</th>
					<th>單價</th>
					<th>可用數量</th>
					<th>進貨日期</th>
					<th>Update</th>
					<th>Back</th>
				</tr>

				{% for material in material_set %}

				<tr>
                    <td>{{material.is_free}}</td>
					<td>{{material}}</td>
					<td>{{material.unit_price}}</td>
					<td>{{material.count}}</td>
					<td>{{material.date_created}}</td>
					<td><a class="btn btn-sm btn-warning" href="{% url 'return_material_update' material.id bomid%}">Update</a></td>

					<td><a class="btn btn-sm btn-success" href="{% url 'return_material' material.id bomid %}">Return</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>


{% endblock %}