{% extends 'main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <form action="{% url "materials_price" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="file-upload">
                <div class="image-upload-wrap">
                    <input class="file-upload-input" type='file' name="excel_file" required="required" onchange="readURL(this);" />
                    <div class="drag-text">
                        <h3>Select a BOM</h3>
                    </div>
                </div>
                <input class="file-upload-btn" type="submit" value="Upload">
        </form>

        </div>
    </div>

	<div class="col-md">
		<div class="card card-body align-items-center">
			<h5> Warning & Error </h5>
			<hr>
			<h3>{{ error }}</h3>
		</div>
	</div>
	<div class="col-md">
		<div class="card card-body">
			<h5>已知品項合計</h5>
			<hr>
			<h3>{{ total_sum }}</h3>
		</div>
	</div>
</div>

    <br>

<div style="height: 70vh; overflow: auto">
        <table class="table table-sm">
        <thead>
            <tr class="table-active">
                <th>#</th>
                <th>Lib Ref</th>
                <th>DS Number</th>
{#                <th>Manufacturer</th>#}
{#                <th>Footprint</th>#}
                <th>數量</th>
                <th>單價</th>
                <th>總價</th>
            </tr>

        </thead>
        <tbody>

         {% for it in mat_set %}
                <tr class="{{ it.color }}">
                    <td> {{ it.no }}</td>
                    <td>{{ it.lib_ref }}</td>
                    <td>{{ it.ds_number }}</td>
                    <td>{{ it.quantity }}</td>
                    <td>{{ it.price }}</td>
                    <td>{{ it.sum }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


<br>



<br>

{% endblock %}