{% extends 'main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
            <p class="text-danger">{{ info }}</p>
			<form action="" method="POST">
				{% csrf_token %}
            <table class="table table-sm">
                {% for it in form %}
                    <tr>
                    <td>{{ it.name }}</td>
                    <td>{{ it }}</td>
                    </tr>
                {% endfor %}
{#				{{form}}#}
            </table>
				<input type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>
<br>


{% endblock %}