{% extends 'main.html' %}

{% block content %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>專案名稱</h5>
            <p> {{project.name}}</p>
			<hr>
{#			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>#}
{#			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_order' customer.id %}">Place Order</a>#}

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Information</h5>
			<hr>
			<p> {{project.description}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>成本</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{project.total_cost}}</h1>
		</div>

	</div>
    <div class="col-md">
        <div class="card card-body">
			<h5>新增BOM表</h5>
			<hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'new_bom' project.id %}">Create</a>

		</div>
    </div>
</div>


<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>BOM描述</th>
					<th>成本</th>
					<th>建立日期</th>
                    <th>Detail</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for bom in bom_set %}

				<tr>
					<td>{{bom.description}}</td>
					<td>{{bom.cost}}</td>
                    <td>{{bom.date_created}}</td>
                    <td><a class="btn btn-sm btn-info" href="">Detail</a></td>
					<td><a class="btn btn-sm btn-warning" href="">Update</a></td>
					<td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>


{% endblock %}